body {
    font-family: Segoe UI, sans-serif;
    margin: 0;
    padding: 0;
    background: #000000;
    color: rgb(255, 255, 255);
    font-weight: 650;
    overflow: hidden;
}

#viewport-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    opacity: 1;
}

#time, #date {
    text-align:left;
    color:rgb(255, 255, 255);
    /* line-height? */
    margin-top: -0.2em;
    margin-bottom: -0.1em;

    transition: 150ms;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#date {
    font-size: 5vw;
    /* to balance out diff in font-size */
    margin-bottom: 0.1em;
    color: rgba(255, 255, 255, 0.95);
}

#time {
    font-size: 17.5vw;
    color: rgba(255, 255, 255, 1);
}

#ms-dot, #ms {
    font-size: 0.4em;
    color: rgba(255, 255, 255, 0.9);
}

.hidden {
    display: none;
}

.visuallyhidden {
    opacity: 0;
    transition: 200ms;
}